# https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format
datetime_matcher
docopt
python-docx
termcolor
TextExtract
textract
opencv-python
date-extractor
docx
Pillow
pytesseract
