# https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format
datetime_matcher
docopt
bayoo-docx
termcolor
#TextExtract
#textract
opencv-python
pathlib
Pillow
pytesseract
loguru
tqdm
joblib